<div class="container project">
  <div class="row project-header">
    <span class="title">{{title}}</span>

    {{#if languages}}
      <span class="languages">
        {{#each languages}}
          {{this}}
          {{#unless @last}}|{{/unless}}
        {{/each}}
      </span>
    {{/if}}

    {{#if links}}
      <span class="links">
        {{#each links}}
          {{#if url}}
            <a href = "{{url}}">{{name}}</a>
          {{else}}
            {{name}}
          {{/if}}
          {{#unless @last}}|{{/unless}}
        {{/each}}
      </span>
    {{/if}}

  </div>


  <img src="{{imageUrl}}" alt="{{title}}"/>

  <div class="project-description"> 
    {{{description}}}
  </div>



</div>

